---
title: Zoom Elite 7 Doorway // Nike Mobile Prototype
model: doorway
pdp: elite
---
<section class="pdp js-pdp">
    <%= partial "mobile/partials/elite-header" %>
    <%= partial "mobile/partials/elite-upper" %>
    <%= partial "mobile/partials/elite-features" %>
    <%= partial "mobile/partials/elite-details" %>
    <%= partial "mobile/partials/elite-doorway" %>
    <%= partial "mobile/partials/elite-lower" %>

    <!-- Buy controls slides -->
    <%= partial "mobile/partials/elite-buy-control-slides" %>

    <!-- Help slides -->
    <%= partial "mobile/partials/elite-help-slides" %>

    <!-- Bowerman track club slide -->
    <%= partial "mobile/partials/elite-bowerman-slide" %>

    <%= partial "mobile/partials/elite-personalize-modal" %>
</section>