<div class="navi--main__menu js-navi-main-menu js-navi-main--boys">
    <div class="list list--inline -text--center">
        <div class="navi--main__list list--inline__item col--2of12 -vertical--top -text--left">
            <div class="h2 margin-bottom--20 -font--16">Shop by Age</div>
            <a href="#" class="a a--block a--clean js-navi-main-link -font--12">Boys 8-20</a>
            <a href="#" class="a a--block a--clean js-navi-main-link -font--12">Pre-School 4-7</a>
            <a href="#" class="a a--block a--clean js-navi-main-link -font--12">Toddler Boys 2T-4T</a>
            <a href="#" class="a a--block a--clean js-navi-main-link -font--12">Infant Boys 0M-24M</a>
        </div>
        <div class="navi--main__list list--inline__item col--2of12 -vertical--top -text--left">
            <div class="h2 margin-bottom--20 -font--16">Shoes</div>
            <a href="#" class="a a--block a--clean js-navi-main-link -font--12">Lifestyle</a>
            <% @categories_mens.each do |sport| %>
            <a href="<% if @taxonomy_links[sport] %><%= @taxonomy_links[sport] %><% else %>#<% end %>" class="a a--block a--clean js-navi-main-link -font--12"><%= sport %></a>
            <% end %>
        </div>
        <div class="navi--main__list list--inline__item col--2of12 -vertical--top -text--left">
            <div class="h2 margin-bottom--20 -font--16">Clothing</div>
            <% @products_mens.each do |product, types| %>
            <% if product != "Clearance" && product != "Shoes" %>
                <a href="<% if @taxonomy_links[product] %><%= @taxonomy_links[product] %><% else %>#<% end %>" class="a a--block a--clean js-navi-main-link -font--12"><%= product %></a>
            <% end %>
            <% end %>
        </div>
        <div class="navi--main__list list--inline__item col--2of12 sport-col -vertical--top -text--left">
            <div class="h2 margin-bottom--20 -font--16">Explore</div>
            <a href="#" class="a a--block a--clean js-navi-main-link -font--12">Nike Sportswear</a>
            <% @categories_mens.each do |sport| %>
            <a href="<% if @taxonomy_links[sport] %><%= @taxonomy_links[sport] %><% else %>#<% end %>" class="a a--block a--clean js-navi-main-link -font--12"><%= sport %></a>
            <% end %>
        </div>
    </div>
    <div class="list list--inline margin-top--10 -text--center">
        <div class="navi--main__list list--inline__item col--2of12 -vertical--top -text--left">&nbsp;</div>
        <div class="navi--main__list list--inline__item col--2of12 -vertical--top -text--left">
            <a href="#" class="a a--block -font--12">Shop all Shoes</a>
        </div>
        <div class="navi--main__list list--inline__item col--2of12 -vertical--top -text--left">
            <a href="#" class="a a--block -font--12">Shop all Clothing</a>
        </div>
        <div class="navi--main__list list--inline__item col--2of12 -vertical--top -text--left">&nbsp;</div>
    </div>
</div>