<nav class="navi navi--lefty padding-bottom--50 padding-top--50 js-navi js-navi--lefty -lineheight--open">
    <!-- Sport -->
    <section class="margin-bottom--10">
        <div class="toggle js-toggle">
            <div class="toggle__item h3 h3--dark <% if current_page.data.category == "All" %>is-active<% end %> js-toggle-controller">
                <span class="span">Sport</span>
                <span class="toggle__icon span margin-left--10 icon icon--plus-sign <% if current_page.data.category == "All" %>icon--minus-sign<% end %> js-toggle-icon -font--10"></span>
            </div>
            <div class="toggle__menu <% if current_page.data.category == "All" %>is-active<% end %> js-toggle-menu">
                <% @categories.each do |sport| %>
                <div class="p -btn <% if current_page.data.category == sport %>-dark<% end %> js-gridwall-category"><%= sport %></div>
                <% end %>
            </div>
        </div>
    </section>

    <!-- Products -->
    <section class="margin-bottom--10">
        <div class="h3 h3--dark">Products</div>
        <% @products.each do |product, types| %>
        <div class="toggle js-toggle">
            <div class="toggle__item p <% if current_page.data.product == product %>is-active -dark<% end %> js-toggle-controller js-toggle-solo js-gridwall-product">
                <span class="span"><%= product %></span>
            </div>
            <div class="toggle__menu padding-left--20 <% if current_page.data.product == product %>is-active<% end %> js-toggle-menu">
                <% @products[product].each do |type| %>
                <div class="p p--grey -btn"><%= type %></div>
                <% end %>
            </div>
        </div>
        <% end %>
    </section>

    <!-- Filters -->
    <section class="margin-bottom--50">
        <div class="select-menu p margin-right--50 js-select-menu -text--left">
            <div class="select-menu__field js-select-menu-field -arrow -arrow--down">
                <span class="p--dark">Size:</span>
                <span class="select-menu__value js-select-menu-value">All</span>
            </div>
            <ul class="select-menu__list -border -text--left js-select-menu-list">
                <% @sizes_womens_tops.each do |size| %>
                    <li class="select-menu__item p p--dark js-select-menu-item<% if size == 'All' %> is-active<% end %>" data-value="<%= size %>"><%= size %></li>
                <% end %>
            </ul>
        </div>
        <div class="select-menu p margin-right--50 js-select-menu -text--left">
            <div class="select-menu__field js-select-menu-field -arrow -arrow--down">
                <span class="p--dark">Color:</span>
                <span class="select-menu__value js-select-menu-value">All</span>
            </div>
            <ul class="select-menu__list -border -text--left js-select-menu-list">
                <% @colors.each do |color| %>
                    <li class="select-menu__item p p--dark js-select-menu-item<% if color == 'All' %> is-active<% end %>" data-value="<%= color %>"><%= color %></li>
                <% end %>
            </ul>
        </div>
        <div class="select-menu p js-select-menu -text--left">
            <div class="select-menu__field js-select-menu-field -arrow -arrow--down">
                <span class="p--dark">Best For:</span>
                <span class="select-menu__value js-select-menu-value">Everything</span>
            </div>
            <ul class="select-menu__list -border -text--left js-select-menu-list">
                <% @bestfor_womens_tops.each do |best| %>
                    <li class="select-menu__item p p--dark js-select-menu-item<% if best == 'All' %> is-active<% end %>" data-value="<%= best %>"><%= best %></li>
                <% end %>
            </ul>
        </div>
    </section>

    <!-- Featured -->
    <section class="margin-bottom--10">
        <div class="h3 h3--dark">Featured</div>
        <% @featured.each do |feature| %>
        <div class="p -btn"><%= feature %></div>
        <% end %>
    </section>
</nav>