<header class="header header--full js-header--full -border--bottom">
    <section class="header__aside container container--wide padding-top--5 padding-bottom--5 js-header-aside -clear">
        <ul class="list list--inline -float--left">
            <li class="list--inline__item margin-right--20">
                <span class="p a--block -dark -font--14 -underline">Nike</span>
            </li>
            <li class="list--inline__item margin-right--20">
                <a href="#" class="a a--p a--block -dark a--clean -font--14">NikeLab</a>
            </li>
            <li class="list--inline__item margin-right--20">
                <a href="#" class="a a--p a--block -dark a--clean -font--14">Jordan</a>
            </li>
            <li class="list--inline__item margin-right--20">
                <a href="#" class="a a--p a--block -dark a--clean -font--14">Hurley</a>
            </li>
        </ul>
        <ul class="list list--inline -float--right -text--right">
            <li class="list--inline__item margin-right--20">
                <a href="#" class="a a--p a--block a--clean -dark -font--14">
                    <span class="icon icon--user icon--grey -dark -font--12"></span>
                    <span class="span margin-left--5">Join / Login</span>
                </a>
            </li>
            <li class="list--inline__item margin-right--20">
                <a href="#" class="a a--p a--block a--clean -dark -font--14">
                    <span class="icon icon--cart icon--grey -dark -font--12"></span>
                    <span class="span margin-left--5">Cart</span>
                    <span class="parens -accent">&nbsp;2&nbsp;</span>
                </a>
            </li>
            <li class="list--inline__item">
                <a href="#" class="a a--p a--block a--clean -dark -font--14">Chat</a>
            </li>
        </ul>
    </section>
    <section class="header__main container container--wide list list--inline js-header-main -text--center">
        <div class="list--inline__item col--3of12 -text--left">
            <ul class="list list--inline">
                <li class="list--inline__item">
                    <a class="icon icon--swoosh -dark" href="index.html"></a>
                </li>
            </ul>
        </div>
        <div class="list--inline__item col--6of12 -text--center">
            <ul class="list list--inline">
                <li class="header__nav-item list--inline__item padding-top--20 padding-bottom--20 padding-left--30 padding-right--30 js-navi-main-controller -btn -trade -dark <% if current_page.data.gender == "Men&rsquo;s" %>is-active<% end %>" data-target=".js-navi-main--men">Men</li>
                <li class="header__nav-item list--inline__item padding-top--20 padding-bottom--20 padding-left--30 padding-right--30 js-navi-main-controller -btn -trade -dark" data-target=".js-navi-main--women">Women</li>
                <li class="header__nav-item list--inline__item padding-top--20 padding-bottom--20 padding-left--30 padding-right--30 js-navi-main-controller -btn -trade -dark" data-target=".js-navi-main--boys">Boys</li>
                <li class="header__nav-item list--inline__item padding-top--20 padding-bottom--20 padding-left--30 padding-right--30 js-navi-main-controller -btn -trade -dark" data-target=".js-navi-main--girls">Girls</li>
            </ul>
        </div>
        <div class="list--inline__item col--3of12 -text--right">
            <ul class="list list--inline">
                <li class="list--inline__item search-field">
                    <input class="search-field__input input input--inline input--search" placeholder="Search" />
                    <span class="search-field__icon icon icon--search-legacy"></span>
                </li>
            </ul>
        </div>
    </section>
    <nav class="navi navi--main js-navi--main">
        <%= partial "desktop/partials/menu-mens" %>
        <%= partial "desktop/partials/menu-womens" %>
        <%= partial "desktop/partials/menu-boys" %>
        <%= partial "desktop/partials/menu-girls" %>
        <%= partial "desktop/partials/menu-explore" %>
    </nav>
</header>