<nav class="navi-mobile navi-mobile--2door js-navi js-navi--2door js-resize js-position" data-position-x="navi-fullscreen" data-resize="navi-partial">
    <!-- General menu -->
    <div class="navi__home">
        <%= partial "mobile/partials/navi-header" %>
        <%= partial "mobile/partials/navi-commons" %>
    </div>

    <!-- Sport / Product slide -->
    <div class="slide slide--left js-slide-view js-slide--doorway">
        <div class="slide__scroll js-slide-scroll">
            <%= partial "mobile/partials/navi-slide-header" %>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport">By Sport</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top -border--bottom padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product">By Product</div>
        </div>
    </div>

    <!-- Sport slide -->
    <div class="slide slide--left js-slide-view js-slide--sport">
        <div class="slide__scroll js-slide-scroll">
            <%= partial "mobile/partials/navi-slide-header" %>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport"><span>All</span> <span class="js-slide-label"></span></div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Sportswear</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Running</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Basketball</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Training</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Football</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Soccer</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Baseball</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Skateboarding</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Golf</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">Tennis</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--product-by-sport">More</div>
        </div>
    </div>

    <!-- Product slide -->
    <div class="slide slide--left js-slide-view js-slide--product">
        <div class="slide__scroll js-slide-scroll">
            <%= partial "mobile/partials/navi-slide-header" %>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">What&rsquo;s New</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Seasonal Feature</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Shop All</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Shoes</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Pants</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Shorts</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Base Layer</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Shirts</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Tanks</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Short Sleeve</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Long Sleeve</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Sweatshirts</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Outerwear</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Swimwear</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Accessories</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Equipments</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Fan Gear</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller" data-target=".js-slide--sport-by-product">Clearance</div>
        </div>
    </div>

    <!-- Sport by Product slide -->
    <div class="slide slide--left js-slide-view js-slide--sport-by-product">
        <div class="slide__scroll js-slide-scroll">
            <%= partial "mobile/partials/navi-slide-header" %>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination"><span>All</span> <span class="js-slide-label"></span></div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Sportswear</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Running</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Basketball</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Training</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Football</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Soccer</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Baseball</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Skateboarding</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Golf</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Tennis</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">More</div>
        </div>
    </div>

    <!-- Product by Sport slide -->
    <div class="slide slide--left js-slide-view js-slide--product-by-sport">
        <div class="slide__scroll js-slide-scroll">
            <%= partial "mobile/partials/navi-slide-header" %>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">What&rsquo;s New</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Seasonal Feature</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Shop All</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Shoes</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Pants</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Shorts</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Base Layer</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Shirts</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Tanks</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Short Sleeve</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Long Sleeve</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Sweatshirts</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Outerwear</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Swimwear</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Accessories</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Equipments</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Fan Gear</div>
            <div class="button button--p button--grey-dark button--right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-destination">Clearance</div>
        </div>
    </div>
</nav>